body{
  background: url('../images/bg__texture-blue.jpg'), #3B79B0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Titillium Web', sans-serif;
}
.main__title{
  font-size: 2.5rem;
  color: #fff;
}
.form__simular{
  background-color: rgba(255,255,255,0.4);
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 12px -4px #333;
  box-shadow: 0 0 12px -4px #333;
  padding: 1rem 2rem 5rem 2rem;
}
.form__select-amount,
.form__select-payment,
.form__input-monthly-income{
  box-shadow: 0 0 10px -2px #666;
  border: 1px solid #666;
}
.form-group span{
  color: #fff;
}
.form__button-box{
  position: relative;
}
.form__button{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -2rem;
  background-color: #32956C;
  border: 0;
  transition: all .2s ease-in;
  font-weight: 700;
  text-transform: uppercase;
}
.form__button::after{
  content: '';
  position: absolute;
  bottom: -4px;
  left:0;
  width: 100%;
  height: 5px;
  border-radius: 0 0 5px 5px;
  transition: all .2s ease-in;
  background-color: #267360;
}
.form__button:hover{
  background-color: #32956C;
  bottom: -2.2rem;
}
.form__button:hover::after{
  background-color: transparent;
  bottom: 0;
}
